.mainsection {
  background: url("/img/mainsection_bg.jpg") top center no-repeat;
  background-size: cover;
  height: 100vh;
}
.header {
  border: 1px solid red;
  height: 20vh;
}
.maintext {
  border: 1px solid blue;
  height: 80vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 15vh;
  &-title {
    font-size: 4.6rem;
    max-width: 60%;
    line-height: 4.6rem;
  }
  &-subtitle {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-top: 20px;
    max-width: 70%;
  }
  &-button {
    margin-top: 20px;
  }
}
